:root {
    --clr-primary-orange: hsl(31, 77%, 52%);
    --clr-primary-Dark: hsl(184, 100%, 22%);
    --clr-primary-VeryDark: hsl(179, 100%, 13%);
    --clr-neural-para: hsla(0, 0%, 100%, 0.75);
    --clr-neural-rest: hsl(0, 0%, 95%);
    --f-fs: 0.938rem;
    --f-f1: 'Big Shoulders Display', sans-serif;
    --f-f2: 'Lexend Deca', sans-serif;
    --f-fw-400: 400;
    --f-fw-700: 700;

}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    font-family: var(--f-f1);
    height: 100%;
    font-size: var(--f-fs);
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1.75rem;
    font-size: 1.125rem;
}

#root,
#__next {
    isolation: isolate;
}

html {
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: var(--clr-neural-rest);
}

.cards {
    border-radius: 5px;
    overflow: hidden;
}

.title {

    color: var(--clr-neural-rest);

}

.para {
    color: var(--clr-neural-para);
    font-family: var(--f-f2);
    font-size: var(--f-fs);
}

.sedans {
    background-color: var(--clr-primary-orange);
}

.suvs {
    background-color: var(--clr-primary-Dark);
}

.luxury {
    background-color: var(--clr-primary-VeryDark);
}

.img__car {
    width: 60px;
}

.sedans>button {
    color: var(--clr-primary-orange);
}

.suvs>button {
    color: var(--clr-primary-Dark);
}

.luxury>button {
    color: var(--clr-primary-VeryDark);
}

.luxury>button:hover,
.suvs>button:hover,
.sedans>button:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.button {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 50px;
    border: 2px solid transparent;
    width: 140px;
    font-family: var(--f-f2);
    margin-top: 2rem;
}


.title {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1rem 0 1rem 0
}

@media (max-width: 999px) {
    body {
        padding-top: 4rem;
        width: 315px;

    }

    .sedans,
    .suvs,
    .luxury {
        padding: 3rem 4rem 3rem 3rem;
    }
}

@media (min-width: 1000px) {
    body {
        display: flex;
        align-items: center;
    }

    .cards {
        display: flex;
        height: 450px;
        width: 900px;


    }

    .sedans,
    .suvs,
    .luxury {
        padding: 3rem 2.5rem 3rem 3rem;
    }


}