:root {
    --clr-primary-cyan: hsl(171, 66%, 44%);
    --clr-primary-lightBlue: hsl(233, 100%, 69%);
    --clr-primary-grayisBlue: hsl(210, 10%, 33%);
    --clr-neural-lightGray: hsl(201, 11%, 66%);
    /* --clr-neural-lightBlue: hsl(210, 46%, 95%); */
    --f-fs: 16px;
    --f-f1: 'Bai Jamjuree', sans-serif;
    /* --gradient-one: linear-gradient(270deg, hsl(335, 100%, 65%) 0%, hsl(6, 100%, 80%) 100%); */
    /* --f-fw-300: 300; */
    --f-fw-400: 400;
    --f-fw-600: 600;

}

/* ::-webkit-input-placeholder {
    color: var(--clr-neural-gray);
    font-size: 0.625rem;
}

::-moz-placeholder {
    color: var(--clr-neural-gray);
    font-size: 0.625rem;

}

:-ms-input-placeholder {
    color: var(--clr-neural-gray);
    font-size: 0.625rem;

}

:-moz-placeholder {
    color: var(--clr-neural-gray);
    font-size: 0.625rem;

} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    font-family: var(--f-f1);
    height: 100%;
    font-size: var(--f-fs);
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input {
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3 {
    line-height: 1.75rem;
    font-size: 1.125rem;
}

#root,
#__next {
    isolation: isolate;
}

.dl__ios {
    background-color: var(--clr-primary-cyan);
    box-shadow: 0 3px 0 hsl(171, 67%, 34%);
}

.dl__mac {
    background-color: var(--clr-primary-lightBlue);
    box-shadow: 0 3px 0 hsl(233, 67%, 59%);
}

@media (max-width: 999px) {
    body {
        max-width: 375px;
        padding: 5.875rem 0;
        background-image: url(./images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-position: top right;
    }

    main {
        padding: 0 2rem;
    }

    .hero__logo {
        height: 98px;
        aspect-ratio: 1/1;
        margin: auto;
        margin-bottom: 3.5rem
    }

    .hero__title {
        font-size: 2rem;
        margin-bottom: 2rem;
        line-height: 2.5rem;
    }

    .para__main {
        font-size: 16px;
        line-height: 1.75rem;
        opacity: 0.5;

    }

    .section__1>.para__main,
    .section__6>.para__main {
        margin-bottom: 2.625rem;
    }

    .section__1 {
        text-align: center;
        margin-bottom: 7.5rem;
    }

    .section__1>button,
    .section__6>button {
        width: 100%;
        border-radius: 50px;
        border: none;
        padding: 16px;
        font-weight: var(--f-fw-600);
        color: white;
        font-size: 18px;
        margin-bottom: 18px;
    }



    .section__2 {
        text-align: center;
        margin-bottom: 3.375rem;
    }

    h2 {
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
        line-height: 2.25rem;
        font-weight: var(--f-fw-600);
    }

    .mac__img {
        margin-bottom: 3rem;
    }

    .right__side {
        text-align: center;
    }

    .section__3 {
        margin-bottom: 9.375rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1.125rem;
        font-weight: var(--f-fw-600);
    }

    .para__sub {
        opacity: 0.5;
        margin-bottom: 3rem;
        padding: 0 0.5rem;
    }

    .section__4 {
        text-align: center;
    }

    .devices {
        margin-bottom: 6.625rem;
    }

    .workflow__flex {
        margin-top: 4.625rem;
        margin-bottom: 6.625rem;
    }

    .h3__img {
        margin: auto;
        margin-bottom: 2rem;
    }

    .companies__logos {
        margin-bottom: 8.563rem;
    }

    .companies__logos>img {
        margin: auto;
        padding: 2rem;
    }

    .footer {
        background-color: hsla(201, 11%, 66%, 0.1);
        text-align: center;
        padding-top: 2.5rem;
        margin-top: 7rem;
    }

    .footer__logo {
        height: 43px;
        margin: auto;
    }

    .footer__grid {
        padding: 0;
        margin-top: 32px;
    }

    .social-icon__item {
        padding: 14px 0;
        font-size: 18px;
        opacity: .8;
    }

    .footer__social {
        display: flex;
        justify-content: space-around;
        padding: 2rem 4rem;

    }
}

@media (min-width: 1001px) {
    body {
        width: 1440px;
        padding: 5.875rem 0;
        background-image: url(./images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-position: top right;
    }

    main {
        text-align: center;
    }

    .hero__logo {
        margin: auto;
    }

    .hero__title {
        font-size: 2.5rem;
        margin: 3rem 0 1rem 0;
        line-height: 2.5rem;
        font-weight: var(--f-fw-600);
    }

    .section__1,
    .section__2,
    .section__4,
    .section__6 {
        text-align: center;
        width: 700px;
        margin: auto;
    }

    .para__main {
        font-size: 18px;
        line-height: 1.75rem;
        opacity: 0.5;
    }

    .section__1>.para__main,
    .section__6>.para__main {
        margin-bottom: 3.5rem;
    }

    .section__1 {
        text-align: center;
        margin-bottom: 8.75rem;
    }

    .section__1>button,
    .section__6>button {
        width: 225px;
        border-radius: 50px;
        border: none;
        padding: 10px;
        font-weight: var(--f-fw-600);
        color: white;
        font-size: 18px;
        margin-bottom: 18px;
        margin-right: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        line-height: 2.25rem;
        font-weight: var(--f-fw-600);
    }

    .section__2 {
        margin-bottom: 5.5rem;
    }

    .section__3 {
        display: flex;
        position: relative;
        margin-bottom: 10rem;
    }

    .mac__img {
        object-position: -30px;
    }

    .right__side {
        text-align: left;
        padding: 4.625rem 5rem;
    }

    .h3 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    .para__sub {
        margin-bottom: 4.5rem;
        width: 350px;
        opacity: 0.5;
    }

    .devices {
        width: 810px;
        height: 471px;
        margin: auto;
        margin-top: 7.5rem;
        margin-bottom: 10.625rem;
    }

    .workflow__flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5rem 8rem;
    }

    .h3__img {
        margin: 0 auto 2.875rem auto;
    }

    .margin {
        margin-top: 20px;
    }

    .companies__logos {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 7.313rem 7.625rem 7.313rem;

    }

    .companies__logos>img {
        align-self: center;
    }

    .footer {
        margin-top: 8.25rem;
        background-color: hsla(201, 11%, 66%, 0.1);
        display: flex;
        align-items: center;
        margin-right: 0;
    }

    .footer__logo {
        height: 55px;
        margin-left: 165px;
    }

    .footer__grid {
        display: grid;
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: 50px 50px;
        grid-auto-flow: column;
        margin-left: 6rem;
    }

    .social-icon__item {
        align-self: center;

    }

    .end {
        align-self: end;
    }

    .footer__social {
        display: flex;
        margin-left: 316px;
        align-items: center;

    }

    .footer__social>div {
        padding: 0 0.5rem;
    }



}