:root {
    --clr-primary-blue: hsl(223, 87%, 63%);
    --clr-primary-paleBlue: hsl(223, 100%, 88%);
    --clr-primary-lightRed: hsl(354, 100%, 66%);
    --clr-neural-gray: hsl(0, 0%, 59%);
    --clr-neural-vDarkBlue: hsl(209, 33%, 12%);
    --f-fs: 1rem;
    --f-f1: 'Libre Franklin', sans-serif;
    --f-fw-300: 300;
    --f-fw-400: 400;
    --f-fw-700: 700;

}

/* placeholder for 100% support */
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--clr-neural-gray);
    font-size: 0.625rem;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--clr-neural-gray);
    font-size: 0.625rem;

}

:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--clr-neural-gray);
    font-size: 0.625rem;

}

:-moz-placeholder {
    /* Firefox 18- */
    color: var(--clr-neural-gray);
    font-size: 0.625rem;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    font-family: var(--f-f1);
    height: 100%;
    font-size: var(--f-fs);
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input {
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1.75rem;
    font-size: 1.125rem;
}

#root,
#__next {
    isolation: isolate;
}

.fb__svg,
.twitter__svg,
insta__svg {
    height: 14px;
}


body {
    max-width: 375px;
    margin: auto;
}

main {
    max-width: 375px;

}

.hero__logo {
    margin: 2.75rem auto;
    height: 16px;
    width: 55px;
}

.information {
    text-align: center;
    padding: 0 1rem 0 1rem;
}

.hero__text {
    font-weight: var(--f-fw-300);
    font-size: 1rem;
    color: var(--clr-neural-gray);
    margin-bottom: 1.375rem;
}

span {
    font-weight: var(--f-fw-700);
    color: black;
}

.sub__para {
    font-size: 0.563rem;
    margin-bottom: 2.188rem
}

.email__input {
    padding: 0.875rem 0 0.875rem 2rem;
    border-radius: 80px;
    border: 1px solid var(--clr-primary-blue);
    margin-bottom: 0.625rem;
}

.notify {
    width: 100%;
    border-radius: 30px;
    border: none;
    font-size: 0.625rem;
    padding: 0.5rem;
    color: white;
    background-color: var(--clr-primary-blue);
    margin-bottom: 4.375rem;
    font-weight: var(--f-fw-700);

}

.img__wrap {
    margin-bottom: 7.438rem;
}

.flex {
    display: flex;
    justify-content: center;
}

.svgs {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    border: 1px solid var(--clr-primary-paleBlue);
    background-color: white;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.813rem 0 0.813rem;
}

.copyright {
    margin-top: 1.813rem;
    text-align: center;
    color: var(--clr-neural-gray)
}


@media (max-width: 999px) {
    body {
        max-width: 375px;
    }

    main {
        max-width: 375px;
    }
}

@media (min-width: 1000px) {

    /* placeholder for 100% support */
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: var(--clr-neural-gray);
        font-size: 0.75rem;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: var(--clr-neural-gray);
        font-size: 0.75rem;

    }

    :-ms-input-placeholder {
        /* IE 10+ */
        color: var(--clr-neural-gray);
        font-size: 0.75rem;

    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: var(--clr-neural-gray);
        font-size: 0.75rem;

    }

    body {
        max-width: 640px;
        margin: auto;
    }

    main {
        max-width: 640px;
    }

    .hero__logo {
        margin: 3.75rem auto;
        height: 1.5rem;
        width: 5.375rem;
    }

    .information {
        text-align: center;
        padding: 0;
    }

    .hero__text {
        font-weight: var(--f-fw-300);
        font-size: 2rem;
        color: var(--clr-neural-gray);
        margin-bottom: 1.5rem;
    }

    span {
        font-weight: var(--f-fw-700);
        color: black;
    }

    .sub__para {
        font-size: 1rem;
        margin-bottom: 2.5rem
    }

    .email__input {
        padding: 1.25rem 0 1.25rem 2rem;
        border-radius: 80px;
        border: 1px solid var(--clr-primary-blue);
        margin-right: 14px;
        margin-bottom: 0.625rem;
        width: 418px;
        display: inline;
    }

    .notify {
        width: 200px;
        border-radius: 30px;
        border: none;
        font-size: 0.75rem;
        padding: 1.25rem 0;
        color: white;
        background-color: var(--clr-primary-blue);
        margin-bottom: 5.875rem;
        font-weight: var(--f-fw-700);
    }

    .img__wrap {
        margin-bottom: 6rem;
    }

    .flex {
        display: flex;
        justify-content: center;
    }

    .copyright {
        margin-top: 1.75rem;
        margin-bottom: 3.125rem;
        text-align: center;
        color: var(--clr-neural-gray)
    }
}