:root {
    --clr-primary-pink: hsl(322, 100%, 66%);
    --clr-primary-paleCyan: hsl(193, 100%, 96%);
    --clr-neutral-grayBlue: hsl(208, 11%, 55%);
    --f-fs: 16px;
    --f-f-body-call: 'Poppins', sans-serif;
    --f-f-headings: 'Open Sans', sans-serif;
    /* --gradient-one: linear-gradient(270deg, hsl(335, 100%, 65%) 0%, hsl(6, 100%, 80%) 100%); */
    /* --f-fw-300: 300; */
    --f-fw-400: 400;
    --f-fw-600: 600;
    --f-fw-700: 700;

}

::-webkit-input-placeholder {
    font-size: 0.9rem;
    letter-spacing: .02rem;
}

::-moz-placeholder {
    font-size: 0.9rem;

}

:-ms-input-placeholder {
    font-size: 0.9rem;

}

:-moz-placeholder {
    font-size: 0.9rem;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
    font-size: var(--f-fs);
    font-family: var(--f-f-body-call);

}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input {
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3 {
    line-height: 1.75rem;
    font-size: 1.125rem;
}

#root,
#__next {
    isolation: isolate;
}

header {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: var(--clr-primary-paleCyan);
}

@media (max-width: 999px) {
    header {
        background-image: url(./images/bg-hero-mobile.svg);
    }
}

@media (min-width: 1000px) {
    header {
        background-image: url(./images/bg-hero-desktop.svg);
    }
}

.header_top {
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.header_top img {
    height: 24px;

}

.header_top_button {
    height: 35px;
    width: 150px;
    border-radius: 50px;
    border: none;
    background-color: white;
    box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.08);
    font-size: .9em;
    font-weight: var(--f-fw-600);
}

.header_bottom_wrap {
    text-align: center;
}

.header_bottom_title {
    font-family: var(--f-f-headings);
    font-size: 2rem;
}