:root {
    --clr-primary-pink: hsl(322, 100%, 66%);
    --clr-primary-paleCyan: hsl(193, 100%, 96%);
    --clr-neutral-grayBlue: hsl(208, 11%, 55%);
    --clr-neutral-vDarkBlue: hsl(192, 100%, 9%);
    --f-fs: 16px;
    --f-f-body-call: 'Open Sans', sans-serif;
    --f-f-headings: 'Poppins', sans-serif;
    /* --gradient-one: linear-gradient(270deg, hsl(335, 100%, 65%) 0%, hsl(6, 100%, 80%) 100%); */
    /* --f-fw-300: 300; */
    --f-fw-400: 400;
    --f-fw-600: 600;
    --f-fw-700: 700;

}

::-webkit-input-placeholder {
    font-size: 0.9rem;
    letter-spacing: .02rem;
}

::-moz-placeholder {
    font-size: 0.9rem;

}

:-ms-input-placeholder {
    font-size: 0.9rem;

}

:-moz-placeholder {
    font-size: 0.9rem;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
    font-size: var(--f-fs);
    font-family: var(--f-f-body-call);

}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input {
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3 {
    line-height: 1.75rem;
    font-size: 1.125rem;
}

#root,
#__next {
    isolation: isolate;
}

.main_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

header {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: var(--clr-primary-paleCyan);
    display: flex;
    height: fit-content;
}

@media (max-width: 999px) {
    header {
        background-image: url(./images/bg-hero-mobile.svg);
    }
}

@media (min-width: 1000px) {
    header {
        background-image: url(./images/bg-hero-desktop.svg);
    }
}

.header_top {
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

}

.header_top img {
    height: 24px;
}



.header_top_button {
    height: 35px;
    width: 150px;
    border-radius: 50px;
    border: none;
    background-color: white;
    box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.08);
    font-size: .9em;
    font-weight: var(--f-fw-600);
}

.header_bottom_wrap {
    text-align: center;
    padding: 4.5rem 1.25rem 2rem 1.5rem;
}

.header_bottom_title {
    font-family: var(--f-f-headings);
    font-size: 1.75rem;
    line-height: 2.625rem;
}

.header_bottom_p {
    font-size: 1.1rem;
    font-weight: 400;
    opacity: .8;
    margin-top: 2.25rem;
}

.header_bottom_btn {
    background-color: var(--clr-primary-pink);
    border: none;
    margin-top: 2rem;
    width: 80%;
    height: 57px;
    border-radius: 30px;
    font-size: .85rem;
    color: white;
    font-weight: var(--f-fw-700);
}

.header_bottom_mockup {
    width: 80%;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 6.5rem;
}


.section {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.08);
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

.card_img {
    width: 81%;
    padding: 4rem 0 4rem 0;
}

.section_txt {
    width: 85%;
    text-align: center;
}

.section_txt_h2 {
    margin-top: .8rem;
    margin-bottom: 1.2rem;
    font-family: var(--f-f-headings);
    font-weight: var(--f-fw-600);
    font-size: 1.75rem;
}

.lh {
    line-height: 2.5rem;

}

.section_txt_p {
    font-size: 1rem;
    color: var(--clr-neutral-grayBlue);
    letter-spacing: 0.01rem;
    margin-bottom: 2.75rem;
}

.section_sign {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 96px;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.08);
    border-radius: 20px;

}

.section_users {
    margin-bottom: 0;
}

.footer {
    background-color: var(--clr-neutral-vDarkBlue);
}