:root {
    --clr-primary-red: hsl(0, 36%, 70%);
    --clr-primary-softred: hsl(0, 93%, 68%);
    --clr-neural-brown: hsl(0, 6%, 24%);
    --clr-light-blue: hsl(210, 46%, 95%);
    --f-fs: 0.8125rem;
    --f-f: 'Josefin Sans', sans-serif;
    --gradient-one: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
    --gradient-two: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
    --gradient-three: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 100%, 98%) 100%);
    --f-fw-300: 300;
    --f-fw-400: 400;
    --f-fw-600: 600;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    font-family: var(--f-f);
    height: 100%;
    font-size: 16px;
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1.75rem;
    font-size: 1.125rem;
}

#root,
#__next {
    isolation: isolate;
}

/* placeholder for 100% support */
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--clr-primary-red);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--clr-primary-red);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--clr-primary-red);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: var(--clr-primary-red);
}

body {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 2.6125rem;
    letter-spacing: 0.5rem;
    font-weight: var(--f-fw-400);
    line-height: 2.75rem;
}

.title>span {
    font-weight: var(--f-fw-300);
    color: var(--clr-primary-red);
}

.paragraph {
    color: var(--clr-primary-red);
}

.email__field {
    display: flex;
    margin: 1.75rem 2rem 0 2rem;
    position: relative;
}

.email__field>input {
    flex: 1;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 25px;
    border: 1px solid var(--clr-primary-red);
    color: var(--clr-primary-red);
    opacity: 0.6;
}

.email__field>button {
    position: absolute;
    height: 100%;
    width: 60px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    background-image: var(--gradient-two);

}

@media (max-width: 1000px) {
    /* body {} */

    .grid {
        width: 375px;
    }

    input,
    textarea {
        background-color: hsla(0, 36%, 70%, 0.05)
    }


    .logo>img {
        height: 20px;


    }

    .logo {
        margin: 2rem 0 2rem 2rem;
    }

    .text {
        text-align: center;
        padding: 4rem 0 4rem 0;
        background-color: hsla(0, 36%, 70%, 0.10);

    }

    .paragraph {
        margin: 0.5rem 2rem 0 2rem;
        font-size: 0.875rem;
    }
}

/* @media (min-width: 1001px) {} */