:root {

    --clr-primary: hsl(25, 97%, 53%);
    --clr-secondary-white: hsl(0, 0%, 100%);
    --clr-secondary-light-grey: hsl(217, 12%, 63%);
    --clr-secondary-medium-gray: hsl(216, 12%, 54%);
    --clr-secondary-dark-blue: hsl(213, 19%, 18%);
    --clr-secondary-vdark-blue: hsl(216, 12%, 8%);
    --fs-paragraph: 15px;
    --fw-smaller: 400;
    --fw-bigger: 700;
    --ff-overpass: "Overpass", sans-serif;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* padding: none; */
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}

#root,
#__next {
    isolation: isolate;
}

html {
    background-color: var(--clr-secondary-vdark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: var(--ff-overpass);
    width: 400px;
    height: 400px;
    background-color: var(--clr-secondary-dark-blue);
    border-radius: 25px;
    display: flex;
}

.content,
.end__content {
    margin: 2rem;
}

.wrapper {
    background-color: hsla(216, 12%, 54%, 0.2);
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 0.7fr;
}

.grid2 {
    display: grid;
    place-items: center;
}



.para {
    color: hsla(0, 0%, 100%, 0.3);
    font-size: var(--fs-paragraph);
}

h1 {
    color: white;
    margin-bottom: 1rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;


}

.score {
    border-radius: 25px;
    border: none;
    background-color: hsla(216, 12%, 54%, 0.2);
    color: hsla(0, 0%, 100%, 0.3);
    cursor: pointer;
    font-weight: bold;
    aspect-ratio: 1/1;
    width: 45px;
    height: 45px;
    align-self: center;
    padding: none;


}

.score:active {
    background-color: var(--clr-primary);
    color: var(--clr-secondary-white);
}



.buttonSub {
    cursor: pointer;
    background-color: var(--clr-primary);
    border: none;
    color: white;
    letter-spacing: 3px;
    border-radius: 25px;
    height: 40px;
}

.buttonSub:hover {
    background-color: white;
    color: var(--clr-primary);
}

.nodisplay {
    display: none;
}

.selected {
    background-color: var(--clr-secondary-medium-gray);
}

.scoring {
    color: var(--clr-primary);
    background-color: hsl(216, 12%, 54%, 0.3);
    padding: 0.25rem 1rem;
    border-radius: 25px;
}