:root {
    --clr-primary-white: hsl(225, 100%, 94%);
    --clr-primary-blue: hsl(245, 75%, 52%);
    --clr-neural-white: hsl(225, 100%, 98%);
    --clr-neural-blue: hsl(224, 23%, 55%);
    --clr-neural-darkBlue: hsl(223, 47%, 23%);
    --f-fs: 1.125rem;
    --f-f: 'Red Hat Display', sans-serif;
    --f-fw-300: 500;
    --f-fw-400: 700;
    --f-fw-600: 900;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    font-family: var(--f-f);
    height: 100%;
    font-size: 16px;
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1.75rem;
    font-size: 1.125rem;
}

#root,
#__next {
    isolation: isolate;
}

html {
    display: flex;
    justify-content: center;
}



@media (max-width: 999px) {
    html {
        background-color: var(--clr-primary-white);
        background-image: url(./images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

@media (min-width: 1000px) {
    html {
        background-image: url(./images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: var(--clr-primary-white);
    }
}



body {
    width: 343px;
    display: flex;
    align-items: center;
}

.card {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-neural-white);

}

.hero__title,
p {
    text-align: center;
}

.hero__title {
    font-weight: var(--f-fw-600);
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
}

.hero__description {
    color: var(--clr-neural-blue);
    margin-bottom: 2rem;
    padding: 0 2.5rem 0 2.5rem;
}

.price__card {
    display: flex;
    align-items: center;
    background-color: hsla(224, 23%, 55%, 0.05);
    margin: 0 1.25rem 1.25rem 1.25rem;
    padding: 1rem;
    border-radius: 10px;
}

.price__name {
    padding-left: 1rem;
    line-height: 1.25rem;
    font-weight: var(--f-fw-400);
}

.price__ammount {
    font-weight: 400;
    color: var(--clr-neural-blue);
    font-size: 0.875rem;
}

.change_button {
    color: var(--clr-primary-blue);
    text-decoration: underline;
}

.payment__aprove {
    background-color: var(--clr-primary-blue);
    border: none;
    margin: 0 1.25rem 1.25rem;
    padding: 1rem;
    font-weight: var(--f-fw-600);
    color: var(--clr-neural-white);
    border-radius: 10px;
}

.payment__cancel {
    background-color: var(--clr-neural-white);
    border: none;
    margin-bottom: 2rem;
    font-weight: var(--f-fw-600);
    color: var(--clr-neural-blue);
}

.change_button:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.6;

}

.payment__aprove:hover {
    cursor: pointer;
    opacity: 0.6;

}

.payment__cancel:hover {
    cursor: pointer;
    color: black;

}