:root {
    --clr-primary-red: hsl(0, 100%, 74%);
    --clr-primary-green: hsl(154, 59%, 51%);
    --clr-primary-accBlue: hsl(248, 32%, 49%);
    --clr-neural-dBlue: hsl(249, 10%, 26%);
    --clr-neural-grayBlue: hsl(246, 25%, 77%);
    --f-fs: 16px;
    --f-f1: 'Poppins', sans-serif;
    --f-fw-400: 400;
    --f-fw-500: 500;
    --f-fw-600: 600;
    --f-fw-700: 700;

}

/* placeholder for 100% support */
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: hsla(249, 10%, 26%, 0.5);
    /* font-size: 0.625rem; */
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: hsla(249, 10%, 26%, 0.5);
    /* font-size: 0.625rem; */

}

:-ms-input-placeholder {
    /* IE 10+ */
    color: hsla(249, 10%, 26%, 0.5);
    /* font-size: 0.625rem; */

}

:-moz-placeholder {
    /* Firefox 18- */
    color: hsla(249, 10%, 26%, 0.5);
    /* font-size: 0.625rem; */

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    font-family: var(--f-f1);
    height: 100%;
    font-size: var(--f-fs);
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input {
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1.75rem;
    font-size: 1.125rem;
}

#root,
#__next {
    isolation: isolate;
}

html {
    display: flex;
    justify-content: center;
}

body {
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
}

h1 {
    color: white;
    font-weight: var(--f-fw-700);
}

.hero__description {
    color: white;
}

.trial>span {
    font-weight: var(--f-fw-700);
}

.trial {
    background-color: var(--clr-primary-accBlue);
    color: white;
    text-align: center;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 10px;
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.1);
}

.form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.1);
}

.form>input {
    border: 1px solid hsla(246, 25%, 77%, 0.5);
    border-radius: 5px;
}

.foot {
    text-align: center;
    color: hsla(249, 10%, 26%, 0.5);
}

.foot>span {
    color: var(--clr-primary-red);
    font-weight: var(--f-fw-700);

}

.form__btn:hover {
    cursor: pointer;
}

.form__btn:active {
    background-color: hsla(154, 59%, 51%, 0.5);
    box-shadow: 0 3px 0 hsla(154, 59%, 41%, 0.5);
}



@media (max-width: 999px) {
    body {

        max-width: 375px;
    }

    main {
        padding: 5.25rem 1.5rem 4.25rem 1.5rem;
    }

    .text {
        text-align: center;
    }

    h1 {

        line-height: 3rem;
        margin-bottom: 2rem;
        font-size: 2rem;

    }


    .trial {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .form {
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    }

    .form>input {
        padding: 0.75rem;
        font-weight: var(--f-fw-600);
        font-size: 0.75rem;
        margin-bottom: 1rem;


    }

    /* important */

    input[type=submit] {
        background-color: var(--clr-primary-green);
        color: white;
        text-transform: uppercase;
        box-shadow: 0 3px 0 hsl(154, 59%, 41%);
        border: none;
        font-size: 1rem;
    }

    .foot {
        padding: 0 1.75rem 0 1.75rem;
        line-height: 1.25rem;
        font-size: 0.625rem;

    }


}



@media (min-width: 1000px) {
    body {
        max-width: 1110px;
        height: 800px;
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        width: 410px;
    }

    .text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }

    .grid {
        display: grid;
        grid-template-columns: 540px 540px;
        gap: 1.5rem;
    }

    .form {
        padding: 2rem 2rem 2rem 2rem;
    }

    .form>input {
        padding: 1rem 1rem 1rem 2rem;
        font-weight: var(--f-fw-700);
        font-size: 0.875rem;
        margin-bottom: 1.25rem;

    }

    input[type=submit] {
        background-color: var(--clr-primary-green);
        color: white;
        text-transform: uppercase;
        box-shadow: 0 3px 0 hsl(154, 59%, 41%);
        border: none;
        font-size: 1rem;
    }

    .foot {
        font-size: 0.688rem;
    }

    .trial {
        margin-bottom: 1.5rem;
    }

}