:root {
    --clr-primary-blue: hsl(179, 62%, 43%);
    --clr-primary-green:  hsl(71, 73%, 54%);
    --clr-secondary-white: hsl(204, 43%, 93%);
    --clr-secondary-gray: hsl(218, 22%, 67%);

    --ff-karla: 'Karla', sans-serif;
      
    --fw-regular: 400;
    --fw-bold: 700;
 }
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
h1, h2, h3 {
    line-height: 1;
}
  
#root, #__next {
    isolation: isolate;
}

/* utilities */
.padding {
    padding: 1.5rem;
}
/* code */
html {
    background-color: var(--clr-secondary-white);
    font-family: var(--ff-karla);   
    max-width: 550px;
    
}
body {
    background-color: white;    
    border-radius: 5px;
    max-height: 550px;
    overflow: hidden;
}

.welcome__top {
    padding-bottom: 1rem; 

}
.welcome__headder {
    font-weight: var(--fw-bold);
    font-size: 1rem;
    margin-bottom: 2rem;
    color: var(--clr-primary-blue);
}
.welcome__text {
    color: var(--clr-primary-green);
    margin-bottom: 2rem;
}
.welcome__paragraph {
    color: var(--clr-secondary-gray);
    font-size: .8rem;
    padding-bottom: 1rem;
}
.welcome__left {
    background-color: var(--clr-primary-blue);
    color: white;
    
}
.welcome__left>p {
    color: white;
}
.welcome__h2 {
    padding-bottom: 0.8rem;
}
.price {
    font-size: 2rem;
}
.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.per__month {
    color: var(--clr-secondary-white);
    opacity: 0.4;
}
.button {
    padding: 0.5rem 0 0.5rem 0;
    width: 100%;
    color: white;
    background-color: var(--clr-primary-green);
    border: none;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
}
.welcome_right {
    background-color: hsl(179, 62%, 43%);
    color: var(--clr-secondary-white);
    opacity: 0.6;
    border-radius: 0 0 5px 5px;

}
@media (min-width: 1440px) {
    html {
        display: flex;
        margin: 0 auto;
        align-items: center;
        
    }
    /* .padding {
        padding: 3rem 8rem ;
    } */
    .grid-group{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .7fr 1fr;
        height: 100%;
    }
    .welcome__top {
        grid-column: 1/3;
    }
    .welcome_right {      
        border-radius: 0 0 5px 0;
    }
    .welcome__left {
        border-radius: 0 0 0 5px;
    }
}