:root {
    --clr-right-title: hsl(35, 77%, 62%);
    --clr-btn-act-tit: hsl(5, 85%, 63%);
    --clr-background: hsl(36, 100%, 99%);
    --clr-numbers: hsl(233, 8%, 79%);
    --clr-dark-grey: hsl(236, 13%, 42%);
    --clr-dark-blue: hsl(240, 100%, 5%);
    

    --ff-inter: 'Inter', sans-serif;;
      
    --fw-medium: 400;
    --fw-bold: 600;
    --fw-ex-bold: 700;
 }
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

html, body {
    height: 100%;

}
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
h1, h2, h3 {
    line-height: 1;
}
  
#root, #__next {
    isolation: isolate;
}
html {
    padding: 1.5rem 1rem 0 1rem;
    font-size: 15px;
    font-family: var(--ff-inter);
}
ul {
    list-style-type: none;
    padding-top: 7rem;
}
li {
    padding: 0.8rem 0 0.5rem 0;
    font-size: 1.5rem;
}
li:hover {
    cursor: pointer;
    color: var(--clr-btn-act-tit);
}
#chk {
    visibility: hidden;
    position: fixed;
}
.fa-bars, .fa-x {
    font-size: 3rem;
    position: absolute;
    z-index: 2;
    right: 0;
    padding-right: 1.5rem;
}
.fa-x {
    top: -50px;
}
.fa-bars {
    top: 16px;
}
.nav__bar {
    top: 0;
    background-color: white;
    height: 100%;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    transition-timing-function: linear;
    -webkit-transform: translateX(150%);
                        transform: translateX(150%);    
    transition: transform 500ms linear;
    

}
#chk:checked ~.nav__bar {
    -webkit-transform: translateX(30%);
                        transform: translateX(30%);
    transition: transform 500ms linear;
    box-shadow: 0 0 0 1600px rgba(0,0,0,.5);
}
#chk:checked ~label > .fa-bars {
    top: -50px;
}
#chk:checked ~label > .fa-x {
    top: 16px;
    padding-right: 27px;

}
.logo {
    height: 30px;
}
.hero__img {
    padding-top: 2rem;
}
.hero__title {
    font-size: 3rem;
    font-weight: var(--fw-ex-bold);
    line-height: 3rem;
    padding: 2rem 0 2rem 0;
}
.hero__paragraph {
    color: var(--clr-dark-grey);
    
}
.button {
    padding: 1rem 2rem 1rem 2rem;
    display: block;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 2rem 0 2rem 0;
    border: none;
    background-color: var(--clr-btn-act-tit);
    color: white;
    font-weight: var(--fw-ex-bold);
    
}
.button:hover {
    cursor: pointer;
    background-color: var(--clr-dark-blue);
}
.news__letter {
    background-color: var(--clr-dark-blue);
    color: white;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin-bottom: 5rem;
  
}
.news__new {
    font-size: 2rem;
    font-weight: var(--fw-ex-bold);
    color: var(--clr-right-title);
}
.news__title {
    font-size: 1.4rem;
    font-weight: var(--fw-bold);
    padding: 1rem 0 1rem 0;
}
.news__title:hover {
    cursor: pointer;
    color: var(--clr-right-title);
}
hr {
    margin: 2rem 0 1rem 0;
    height: 1px;
}
.art__1 {
    display: flex;
    gap: 1rem;
    margin: 2rem 0 0 0;

}
.art__1 > img {
    height: 130px;
}
.art__number {
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
    margin-top: -15px;
    color: var(--clr-numbers);
}
.art__title {
    color: var(--clr-dark-blue);
    font-weight: var(--fw-ex-bold);
    font-size: 1.3rem;
    margin-bottom: .2rem;
}
.art__paragraph {
    color: var(--clr-dark-grey);
}