:root {
    --clr-primary-background: hsl(233, 47%, 7%);
    --clr-primary-cardBackground: hsl(244, 38%, 16%);
    --clr-primary-accent: hsl(277, 64%, 61%, 0.35);
    --clr-neural-heading: hsl(0, 0%, 100%);
    --clr-neural-para: hsla(0, 0%, 100%, 0.75);
    --clr-light-paraHead: hsla(0, 0%, 100%, 0.6);
    --accent-opacity: 0.3;
    --f-fs: 0.8725rem;
    --f-f1: 'Inter', sans-serif;
    --f-f2: 'Lexend Deca', sans-serif;
    --f-fw-300: 300;
    --f-fw-400: 400;
    --f-fw-600: 600;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    font-family: var(--f-f1);
    height: 100%;
    font-size: var(--f-fs);
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1.75rem;
    font-size: 1.125rem;
}

#root,
#__next {
    isolation: isolate;
}

html {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: var(--clr-primary-background);
    color: white;
}



.card {
    background-color: var(--clr-primary-cardBackground);
    border-radius: 10px;
    overflow: hidden;
}

.img__card {
    position: relative;

}

.hero__title {
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--clr-neural-heading);
}

.para {
    font-size: 1.25rem;
    color: var(--clr-neural-para);

}

.hero__title>span {
    color: hsl(277, 64%, 61%);
}



.stat__head {
    font-size: 1.5rem;
    font-weight: var(--f-fw-600);
}

.stat__para {
    font-family: var(--f-f2);
    letter-spacing: 0.125rem;
    color: var(--clr-neural-para)
}

.flex {
    margin-bottom: 2rem;
}



.accent {
    background-color: var(--clr-primary-accent);
    width: 100%;
    height: 100%;
    position: absolute;
}

.accent2 {
    background-color: var(--clr-primary-accent);
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: color-burn;
}

@media (max-width: 999px) {
    body {
        width: 345px;
        display: flex;
        align-items: center;
    }

    .stats {
        text-align: center;
    }

    .hero__title {
        margin: 3rem 2rem 1rem 2rem;
    }

    .para {
        padding: 0 1.5rem 0 1.5rem;
        margin-bottom: 2rem;
    }


}

@media (min-width: 1001px) {
    body {
        width: 1000px;
        display: flex;
        align-items: center;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .img__card {
        grid-column: 2;
    }

    .stats {
        grid-column: 1;
        grid-row: 1;
        margin: 5rem 7rem 0 4rem;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        width: 300px;

    }

    .hero__title {
        margin-bottom: 2rem;
    }

    .para {
        font-size: var(--f-fs);
        margin-bottom: 5rem;
    }

    .stat__para {
        font-size: 0.75rem
    }

    .stat__head {
        line-height: 1.7rem;
    }

    .flex__third {
        padding-right: 1rem;
    }
}