:root {
    --clr-primary-violate: hsl(263, 55%, 52%);
    --clr-primary-graishBlue: hsl(217, 19%, 35%);
    --clr-primary-darkBlue: hsl(219, 29%, 14%);
    --clr-neural-lightGray: hsl(0, 0%, 81%);
    --clr-neural-lightBlue: hsl(210, 46%, 95%);
    --f-fs: 16px;
    --f-f1: 'Barlow Semi Condensed', sans-serif;
    /* --gradient-one: linear-gradient(270deg, hsl(335, 100%, 65%) 0%, hsl(6, 100%, 80%) 100%); */
    --f-fw-300: 300;
    --f-fw-500: 500;
    --f-fw-600: 600;

}

/* ::-webkit-input-placeholder {
    color: var(--clr-neural-gray);
    font-size: 0.625rem;
}

::-moz-placeholder {
    color: var(--clr-neural-gray);
    font-size: 0.625rem;

}

:-ms-input-placeholder {
    color: var(--clr-neural-gray);
    font-size: 0.625rem;

}

:-moz-placeholder {
    color: var(--clr-neural-gray);
    font-size: 0.625rem;

} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    font-family: var(--f-f1);
    height: 100%;
    font-size: var(--f-fs);
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input {
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1.75rem;
    font-size: 1.125rem;
}

#root,
#__next {
    isolation: isolate;
}