:root {
    --clr-primary-cyan: hsl(171, 66%, 44%);
    --clr-primary-lightBlue: hsl(233, 100%, 69%);
    --clr-primary-grayisBlue: hsl(210, 10%, 33%);
    --clr-neural-lightGray: hsl(201, 11%, 66%);
    /* --clr-neural-lightBlue: hsl(210, 46%, 95%); */
    --f-fs: 16px;
    --f-f1: 'Bai Jamjuree', sans-serif;
    /* --gradient-one: linear-gradient(270deg, hsl(335, 100%, 65%) 0%, hsl(6, 100%, 80%) 100%); */
    /* --f-fw-300: 300; */
    --f-fw-400: 400;
    --f-fw-600: 600;

}

/* ::-webkit-input-placeholder {
    color: var(--clr-neural-gray);
    font-size: 0.625rem;
}

::-moz-placeholder {
    color: var(--clr-neural-gray);
    font-size: 0.625rem;

}

:-ms-input-placeholder {
    color: var(--clr-neural-gray);
    font-size: 0.625rem;

}

:-moz-placeholder {
    color: var(--clr-neural-gray);
    font-size: 0.625rem;

} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    font-family: var(--f-f1);
    height: 100%;
    width: 100%;
    font-size: var(--f-fs);
}

body {
    line-height: 1.2rem;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input {
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    resize: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    color: black;
}

h1,
h2,
h3 {
    line-height: 1.75rem;
    font-size: 1.125rem;
}

#root,
#__next {
    isolation: isolate;
}

.dl__ios {
    background-color: var(--clr-primary-cyan);
    box-shadow: 0 3px 0 hsl(171, 67%, 34%);
}

.dl__mac {
    background-color: var(--clr-primary-lightBlue);
    box-shadow: 0 3px 0 hsl(233, 67%, 59%);
}

body {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questions {
    max-width: 620px;
    margin: 6rem 1.5rem 1.5rem 1.5rem;
}

.section__wrap {
    padding: 1.5rem 1.5rem 0 1.5rem;
    background-color: white;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

.question__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: yellowgreen;
    font-weight: bold;
}

.question__btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: yellowgreen;

}

hr {
    background-color: black;
    height: 2px;
}