:root {
    --clr-text-dark-blue: hsl(238, 29%, 16%);
    --clr-text-red: hsl(14, 88%, 65%);
    --clr-text-dark-grayish: hsl(237, 12%, 33%);
    --clr-text-grayish: hsl(240, 6%, 50%);
    --clr-dividers: hsl(240, 5%, 91%);
    --clr-gradient-violet: hsl(273, 75%, 66%);
    --clr-gradient-blue: hsl(240, 73%, 65%);
    --f-fs: 0.75rem;
    --f-f: 'Kumbh Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    font-family: var(--f-f);
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}

#root,
#__next {
    isolation: isolate;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

html {
    background: linear-gradient(0deg, var(--clr-gradient-blue) 0%, var(--clr-gradient-violet) 100%);
    padding: 9rem 1rem 5rem 1rem;

}

h3,
.faq__answear {
    font-size: var(--f-fs);
    font-weight: inherit;
    color: var(--clr-text-grayish);
    line-height: 1.25rem;
}

body {
    background-color: white;
    border-radius: 20px;
    max-width: 343px;
    margin: 0 auto;
    height: 560px;
}


.shadow {
    margin: 0 auto 2rem auto;
    background-image: url(./images/bg-pattern-mobile.svg);
    height: 104px;
    width: 240px;
}

.woman {
    /* position: absolute;
    height: 240px;
    width: 100%;
    top: 6px;
    right: 68px; */
    background-image: url(./images/illustration-woman-online-mobile.svg);
    height: 180px;
    width: 237px;
    position: absolute;
    top: -106px;
    right: 38px;
}

.block {
    background-image: url(./images/illustration-box-desktop.svg);
    height: 210px;
    width: 202px;
    background-size: cover;
    display: none;
    background-repeat: no-repeat;
}

.right__pannel {
    position: relative;
}

.faq__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    color: var(--clr-text-grayish);
}

.faq__header:hover {
    color: var(--clr-text-red);
}

.faq__body {
    margin: 0 1rem 0 1rem;
}

.faq__item {
    border-bottom: 1px solid var(--clr-dividers);
    padding: 1rem 0 1rem 0;
}

.faq__header::after {
    content: url(./images/icon-arrow-down.svg);
    transition: transform 0.3s ease-out;
}

.faq__header.active::after {
    transform: rotate(180deg);

}

.active {
    color: black;
    font-weight: bold;
}

.faq__answear {
    max-height: 0px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.faq__answear__body {
    line-height: 1.5rem;
}

/* .faq__answear,
.far__header {
    font-size: 12px;
} */

@media (min-width: 1430px) {
    html {
        height: 900px;
        overflow: hidden;
    }

    .woman {
        background-image: url(./images/illustration-woman-online-desktop.svg);
        width: 519px;
        height: 394px;
        background-size: cover;
        top: 70px;
        right: 050px;
        z-index: 1;

    }

    .shadow {
        background-image: url(./images/bg-pattern-desktop.svg);
        height: 945px;
        width: 966px;
        position: absolute;
        background-size: cover;
        top: -270px;
        left: -570px;
    }

    .block {
        display: block;
        position: absolute;
        z-index: 2;
        bottom: 180px;
        left: 162px;

    }

    body {
        max-width: 1000px;
        padding: 0 2rem 4rem 2rem;
        height: 550px;
        overflow: hidden;


    }

    .faq__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 2rem;

    }

    .left__pannel {
        padding: 2rem;
    }

    h1 {
        text-align: left;
        margin-bottom: 2rem;
        font-size: 3rem;
    }
}